<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>414476418606-cndpn66h8lrkclnhlh7t561i9027usv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414476418606-cndpn66h8lrkclnhlh7t561i9027usv3</string>
	<key>API_KEY</key>
	<string>AIzaSyDAw293VDpxNEqQfhJhoaJIO10z-hQJGjk</string>
	<key>GCM_SENDER_ID</key>
	<string>414476418606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pintailconsultingllc.nfl-mock-draft</string>
	<key>PROJECT_ID</key>
	<string>nfl-mock-draft-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>nfl-mock-draft-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:414476418606:ios:898336c5b3c990b8</string>
	<key>DATABASE_URL</key>
	<string>https://nfl-mock-draft-demo.firebaseio.com</string>
</dict>
</plist>