<div>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>

        <span>NFL Mock Draft</span>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <span>Username</span>
    </md-toolbar>

    <md-sidenav-container>
        <md-sidenav #sidenav>
            Hello from sidenav.
        </md-sidenav>

        <h1>
            {{title}}
        </h1>

        <ul>
            <li class="text" *ngFor="let item of items | async">
                {{item.name}}
            </li>
        </ul>
    </md-sidenav-container>

    <md-toolbar>
        <span>&copy; Pintail Consulting LLC 2017</span>
    </md-toolbar>
</div>
